{% load static %}
<html>
    <body>
        <head>
            <link rel="stylesheet" href="{% static 'css/aboutlibrary.css'%}">
        </head>
        <h1>library management system</h1>
        <hr>
        <div class="container">
            <img src="https://cdn.pixabay.com/photo/2019/11/19/22/24/watch-4638673_960_720.jpg" alt="Description of your image">
            <h3>Bharath Library</h3>
        </div>
        <div class="para">
        <p>Welcome to our library management system, the heart of our institution's commitment to knowledge and learning.</p>
        <p>Our library management system serves as the digital backbone of our vast collection of books, periodicals, multimedia </p>
        <p>resources, and digital archives. At the core of our system is a robust database meticulously curated by our team of</p>
        <p> librarians.This database not only organizes and categorizes our extensive collection but also ensures efficient retrieval and </p>
        <p>access to resources.Whether you're searching for a classic novel, the latest research article, or a rare manuscript, our library</p>
        <p> management system empowers you to explore and discover with ease.</p>
        </div>
        <div>
            <div class="img1">
                <img src="https://images.unsplash.com/flagged/photo-1559264243-77e7b0942b77?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Description of your image">
            </div>
            <div class ="img2">
                <img src="https://plus.unsplash.com/premium_photo-1663047308908-f6e112c17daf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Description of your image">
            </div>
        </div>
        <div class="line"></div>
        <div class="line2">
            <h1 class="abouth1"> <u>student can do....</u></h1>
            <ul class="aboutlist">
                <li>signup and login</li>
                <li>student can take books</li>
                <li>student can feedback </li>
                <li>student can communicate with admin</li>
                <li>student can see their status</li>
            </ul>
                <h1 class="abouth2"><u>admin <span style="color: red;">important notes</span></u></h1>
                <ul class="aboutlist2">
                <li>student have submit book within the time</li>
                <li>student have to pay penality if have</li>
                <li>student have to take one copy only</li>
                <li>if student not pay the penality will increase</li>
                <li>student must follow the intructions</li>
            </ul>
        <div>
            <h1 class="abouth3"><u>student can contact👇🏻</u></h1>
            <ul class="aboutlist3">
                <li>phone:8790547019<span style="color:red;">(Bharath"main admin")<span></li>
                <li>tell no:666999211</li>
                <li>email:library07@gmail.com</li>
            </ul>
        </div>

        </div>
        {% comment %} <div>
        </div> {% endcomment %}

    </body>
</html>
