{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details Exist</title>
    <link rel="stylesheet" href="{% static 'css/student_already_exists.css'%}">
</head>
<body>
    <div class="container">
        <h1>Student details already exist. Please login.</h1>
        <h1 class="here">You want to login here...👇🏻</h1>
        <a href="{% url 'student_login_url' %}">Login Student</a>
    </div>
    <div class="quote">
        <h1>Be Educated,</h1>
        <h1>Be Educated,</h1>
        <h3>And</h3>
        <h1>Be Agitated”</h1>
    </div>
</body>
</html>
