body {
    background-image: url('../img/issued\ books\ img2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif;
    margin: 0; /* Reset default body margin */
    padding: 20px; /* Add padding to body */
}

.table {
    color: red;
    font-size: 15px;
    text-align: center;
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px; /* Add margin to top */
}

/* Add some extra design */
.table th,
.table td {
    padding: 10px; /* Add padding to table cells */
    border: 1px solid #ccc; /* Add border to table cells */
}

.table th {
    background-color: #f2f2f2; /* Light gray background for table headers */
}

/* Add hover effect to table rows */
.table tr:hover {
    background-color: #f5f5f5; /* Light gray background on hover */
}
@keyframes blink {
    0% { background-color: blue; }
    50% { background-color: green }
    100% { background-color: blue; }
}

/* Apply the animation to the button */
button.submit {
    animation: blink 1s infinite; /* Blinking animation */
    color: white; /* Text color */
    padding: 6px 8px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
}

/* Hover effect for the button */
button.submit:hover {
    animation-play-state: paused; 
    background-color: rgb(8, 237, 8); 
}