body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    background-image: url('../img/otp_formbg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #2d9ccf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(4, 4, 4, 0.1);
    margin-top: 10%;
}

input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #2d0de8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #05f005;
}

.img-container {
    max-width: 200px; 
    margin: 0 auto; 
    padding-top: 20px;
    border-radius: 10%; 
}

.form-img {
    max-width: 100%; 
    height: auto; 
}
