/* styles.css */

/* Table */
#registrations-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 0px;
    margin-top: 10%;
    margin-left: 10%;

}

#registrations-table th,
#registrations-table td {
    padding: 10px;
    border: 3px solid #ddd;
    text-align: center; 
}

#registrations-table th {
    background-color: #f2f2f2;
}

/* Table rows */
#registrations-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

/* Button styles */
.approve-btn,
.reject-btn {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f9f9f9;
}

.approve-btn:hover,
.reject-btn:hover {
    background-color: #0056b3; 
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust table layout for smaller screens */
    #registrations-table th,
    #registrations-table td {
        padding: 8px;
    }
}
/* body {
    position: relative;
} */

body::before {
    content: "";
    background-image: url('../img/studentbackgroundimg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px); /* Apply blur effect to the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
