/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('../img/kalyanpic.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif;
} 

/* Navbar styles */
.navbar {
    background-color: #b6d4f2;
    padding: 10px 0;
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-toggler {
    color: white;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 10%;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Header styles */
.header-container {
    text-align: center;
    margin-top: 10px;
    padding: 3%;
}

/* Content styles */
.content {
    text-align: center;
    margin-top: 50px;
}

.aa {
    margin-top: 20px;
}

.aa a {
    margin-right: 20px;
    color: #007bff;
    text-decoration: none;
}

.aa a:hover {
    text-decoration: underline;
    color: #0056b3;
}
.navbar-container {
    display: flex; 
    justify-content: space-between; 
    align-items: top; 
}
.navbar-nav ul {
    list-style: none; 
    padding: -2%; 
    margin-right: 10%; 
}
.navbar-nav li {
    display: inline-block; 
    margin-right: 30px; 
}
.navbar-nav li:last-child {
    margin-right: 10px; 
}
.at{
    position: absolute;
    top: 15px;
}
hr{
    height: 10px;
    color: chartreuse;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #e0c6bc; 
    border-radius: 10px; 
}

.button:hover {
    background-color: #1ae228; 
    border-color: #0056b3; 
}
.search{
    position: absolute;
    top: 0;
    right: 25%;
    top: 29%;
}
h1{
    color: white;
    margin-bottom: 2%;
}
.p1{
    color: white;
    margin-top: 14%;

}
.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Optional: adds a blur effect */
}
footer {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Aligns the footer to the bottom of the viewport */
    width: 100%; /* Full width */
    background-color: #333; /* Background color */
    color: white; /* Text color */
    text-align: center; /* Center align text */
    padding: 10px 0; /* Padding */
}